<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Author Name" name="name" value="<%= author.name %>">
    <button class="btn btn-outline-success" type="submit"><%= btnText %></button>
</div>